header {
    border-bottom: solid #4a0404 6px;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.header_inner img {
    margin-left: 15px;
}

.header_info {
    font-size: 14px;
    line-height: .2;
    padding-right: 15px;
}

.times {
    font-weight: bold;
    font-size: 23px;
}

.mv img {
    width: 100%;
}

.section {
    padding: 70px 0;
}

.ttl {
    text-align: center;
    margin-bottom: 40px;
}

.text_wrap {
    width: 730px;
    margin: 0 auto;
}

.text_wrap p {
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 2;
}

.bgcolor {
    background-color: #e2dada;

}

.item_wrap {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bread {
    width: 260px;
}

.bread_ttl {
    font-weight: bold;
}

.bread_price {
    font-weight: bold;
    font-size: 14px;
    text-align: right
}

.contact {
    font-weight: bold;
    padding: 25px;
    width: 500px;
    margin: 50px auto 0;
    border: solid #1d0101 2px;
}

.contact_ttl {
    font-size: 25px;
    text-align: center;
}

.tel {
    text-align: center;
    font-size: 50px;
}

.add {
    text-align: center;
    margin-bottom: 40px;
}

.map iframe {
    width: 100%;
    height: 350px;
}

footer {
    background-color: #4a0404;
    padding: 30px;
}

.copylight {
    color: #fff;
    text-align: center
}
